@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white text-apple-text-primary antialiased;
  }
}

@layer components {
  .container-custom {
    @apply max-w-5xl mx-auto px-6 lg:px-8;
  }
}
